extends layout

block content
  head
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    title Robins And Day Lead Widget
  form.needs-validation#carForm(action="/crm/send")
    span.mx-auto
      .middle
        .form-check.form-check-inline
          input.form-check-input#new(onchange="radioCheck(this.value,this.checked)" type="radio" name="carType" value="new", checked)
          label.form-check-label.front-end.box(for="new") New Vehicle
        .form-check.form-check-inline
          input.form-check-input#used(onchange="radioCheck(this.value,this.checked)" type="radio" name="carType" value="used")
          label.form-check-label.back-end.box(for="used") Used Vehicle
        .form-check.form-check-inline
          input.form-check-input#service(onchange="radioCheck(this.value,this.checked)" type="radio" name="carType" value="service")
          label.form-check-label.back-end.box(for="service") Service/Parts
    hr
    h2 Lead
    div#loader
    input#dealershipId.form-control(style="display:none;" type="text" name="dealershipId" placeholder="Dealership ID")
    input#agentName.form-control(style="display:none;" type="text" name="agentName" placeholder="Agent Name")
    #typeahead-autocomplete
      input.thead.form-control(type="text" name="dealership" title="Dealership Name" placeholder="Please Choose a Dealership" data-toggle="tooltip" data-placement="top" required)
    .form-group
      select.form-control#channel(value="Please select" name="channel" title="Preferred Contact Method" data-toggle="tooltip" data-placement="top", required)
        option whatsapp
        option sms
        option email
        option phone
        option no preference
    .form-row  
      .form-group.col-sm-6    
        input#source.form-control(type="text" name="source" title="Source of Enquiry URL" placeholder="Source of Enquiry URL" data-toggle="tooltip" data-placement="top")
      .form-group.col-sm-6
        input#channelSource.form-control(type="text" name="channelSource" title="Client Channel Source" placeholder="Client Channel Source" data-toggle="tooltip" data-placement="top")
    hr
    h2 Customer Information
    .form-row
      .form-group.col-sm-6
        label(for="fName")
        input.form-control#fName(type="text" placeholder="First Name" name="fName" title="First Name" data-toggle="tooltip" data-placement="top", required)
      .form-group.col-sm-6
        label(for="lName")
        input.form-control#lName(type="text" placeholder="Last Name" name="lName" title="Last Name" data-toggle="tooltip" data-placement="top", required)
    .form-row
      .form-group.col-sm-6
        label(for="email")
        input.form-control#email(type="email" aria-describedby="emailHelp" placeholder="Enter Email" name="email" title="Enter Email" data-toggle="tooltip" data-placement="top", required)
        .valid-feedback Looks good!
      .form-group.col-sm-6
        label(for="phone")
        input.form-control#phone(type="tel" aria-describedby="phoneHelp" title="Enter Phone" placeholder="Enter Phone" name="phone" data-toggle="tooltip" data-placement="top", required)
    .form-row
      .form-group.col-sm-6
        input#postcode.form-control(type="text" name="postcode" title="Customer's Postcode" placeholder="Customer's Postcode" data-toggle="tooltip" data-placement="top")
      .form-group.col-sm-6
        input#customerRegNumber.form-control(type="text" name="customerRegNumber" title="Customer\'s Vehicle Registration Number" placeholder="Customer\'s Vehicle Registration Number" data-toggle="tooltip" data-placement="top")
    hr
    h2#voiTitle Vehicle of Interest
    //  NEW VEHICLE OPTIONS Only
    .form-row  
      .form-group.col-sm-6   
        select.form-control.custom-select-lg.mb-3.top#purchaseType(value="Please select" name="leadType" title="Choose a Lead Type" data-toggle="tooltip" data-placement="top", required)
          option New 
          option Motability
          option Business
      .form-group.col-sm-6     
        select.form-control.custom-select-lg.mb-3.top#brand(onchange="showModels(this.value)" value="Please select" name="brand" title="Choose a Vehicle Brand" data-toggle="tooltip" data-placement="top", required)
          option Select Brand
      .form-group.col-sm-6     
        select.form-control#model(onchange="showFuels(this.value)" value="Please select" name="model" title="Choose a Vehicle Model" data-toggle="tooltip" data-placement="top", required)
          option Select Model
      .form-group.col-sm-6     
        select.form-control#fuel(value="Please select" name="fuel" title="Choose a Vehicle Fuel Type" data-toggle="tooltip" data-placement="top")
          option Select Fuel Type
      //  NEW VEHICLE OPTIONS END
      //  USED VEHICLE OPTIONS Only (*Brand/Model also shows for Service)
      .form-group.col-sm-6
        select.form-control.custom-select-lg.mb-3#usedBrand(onchange="showUsedModels(this.value)" type="text" value="Enter Brand" style="display:none;" name="usedBrand" title="Choose a Used Vehicle Brand" data-toggle="tooltip" data-placement="top")
          option Select Brand
      .form-group.col-sm-6
        select.form-control#usedModel(type="text" value="Enter Model" style="display:none;" title="Choose a Used Vehicle Model" name="usedModel" data-toggle="tooltip" data-placement="top")
          option Select Model
      .form-group.col-sm-6    
        input#usedRegNumber.form-control(style="display:none;" type="text" name="usedRegNumber" title="Used Vehicle Registration Number" placeholder="Used Vehicle Registration Number" data-toggle="tooltip" data-placement="top")
      .form-group.col-sm-6  
        input#valuation.form-control(style="display:none;" type="text" name="valuation" title="Customer's Vehicle Value (Valuation)" placeholder="Customer's Vehicle Value (Valuation)" data-toggle="tooltip" data-placement="top")
      //  USED VEHICLE OPTIONS END
      //  Service /  Parts Only
      .form-group.col-sm-6
        input#mileage.form-control(type="number" name="mileage" title="Customer Vehicle Mileage, For Part Exchange/Service" placeholder="Vehicle Mileage" data-toggle="tooltip" data-placement="top")
      .form-group.col-sm-6  
        input#customerBrand.form-control(style="display:none;" type="text" name="customerBrand" title="Customer Vehicle Brand" placeholder="Customer Vehicle Brand" data-toggle="tooltip" data-placement="top")
      input#customerModel.form-control(style="display:none;" type="text" name="customerModel" title="Customer Vehicle Model" placeholder="Customer Vehicle Model" data-toggle="tooltip" data-placement="top")
      //  Service / Parts Only
      //  USED+NEW VEHICLE OPTIONS Only!
    .form-row
      .form-group.col-sm-6
        input#atidcapid.form-control(type="text" name="atidcapid" title="AutoTrader ID / CAP ID" placeholder="Autotrader ID/CAP ID" data-toggle="tooltip" data-placement="top")
      .form-group.col-sm-6  
        input#trim.form-control(type="text" name="trim" title="Trim" placeholder="Trim" data-toggle="tooltip" data-placement="top")
    .form-row  
      .form-group.col-sm-6  
        input#description.form-control(type="text" name="description" title="Vehicle Description" placeholder="Vehicle Description" data-toggle="tooltip" data-placement="top")
      .form-group.col-sm-6  
        input#price.form-control(type="text" name="price" title="Vehicle Price" placeholder="Vehicle Price" data-toggle="tooltip" data-placement="top")
      //  USED+NEW VEHICLE OPTIONS END
      textarea.form-control#addInfo(rows="3" placeholder="Any additional information from the consumer" name="addInfo" title="Additional Information about the customer" data-toggle="tooltip" data-placement="top")
      button#submitButton.btn.btn-primary.btn-lg.mx-auto(onclick="carSelectionValid(this.value)" type="submit" title="Submit the lead" data-toggle="tooltip" data-placement="top") Submit lead
        script.

          // JavaScript for disabling form submissions if there are invalid fields
            (function () {
              'use strict';
              window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                  form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    } else if (form.checkValidity() === true) {
                      console.log("Form is valid: " + form.checkValidity())
                      document.getElementById("submitButton").style.display = "none"
                      document.getElementById("loader").style.display = "block"
                      collectFormData(forms);
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();

        script.

          jQuery(function ($) { // require only one to be filled - email or phone, not both
            var $inputs = $('input[name=email],input[name=phone]');
            $inputs.on('input', function () {
              // Set the required property of the other input to false if this input is not empty.
              $inputs.not(this).prop('required', !$(this).val().length);
            });
          });
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });//Activate tooltips with bootstrap