extends layout

block content
  head
    meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    title Robins And Day CRM Widget
  form#carForm.needs-validation(action="/crm/send")
    span.mx-auto
      .middle
        .form-check.form-check-inline
          input#new.form-check-input(onchange='radioCheck(this.value,this.checked)' type='radio' name='carType' value='new' checked='')
          label.form-check-label.front-end.box(for='new')
            | New Vehicle
        .form-check.form-check-inline(style='')
          input#used.form-check-input(onchange='radioCheck(this.value,this.checked)' type='radio' name='carType' value='used')
          label.form-check-label.back-end.box(for='used')
            | Used Vehicle
    br
    br
    // NEW VEHICLE OPTIONS
    .form-group
      // <label for="brand">Please select a brand</label>
      select#brand.form-control.custom-select-lg.mb-3(onchange='showModels(this.value)' value='Please select' name='brand' required='' data-tooltip="Choose a brand!" data-position="top" class="top")
        option Select Brand
    .form-group
      // <label for="model">Please select a Model</label>
      select#model.form-control(onchange='showFuels(this.value)' value='Please select' name='model' required='')
        option Select Model
      // <input value="this.value" id="model">
    .form-group
      // <label for="fuel">Please select a Fuel Type</label>
      select#fuel.form-control(value='Please select' name='fuel')
        option Select Fuel Type
    // NEW VEHICLE OPTIONS END
    // USED VEHICLE OPTIONS
    .form-group
      // <label for="brand">Please select a brand</label>
      select#usedBrand.form-control.custom-select-lg.mb-3(onchange='showUsedModels(this.value)' type='text' value='Enter Brand' style='display:none;' name='usedBrand')
        option Select Brand
    .form-group
      // <label for="model">Please select a Model</label>
      select#usedModel.form-control(type='text' value='Enter Model' style='display:none;' name='usedModel')
        option Select Model
    // USED VEHICLE OPTIONS END
    .form-row
      .form-group.col-sm-6
        label(for='fName') Enter First Name
        input#fName.form-control(type='text' placeholder='First Name' name='fName' required='')
      .valid-feedback
        | Looks good!
      .form-group.col-sm-6
        label(for='lName') Enter Last Name
        input#lName.form-control(type='text' placeholder='Last Name' name='lName' required='')
        .valid-feedback
          | Looks good!
    .form-group
      label(for='email') Enter Email address
      input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' name='email' required='')
    .form-group
      label(for='channel') Preferred Channel
      select#channel.form-control(value='Please select' name='channel' required='')
        option WhatsApp
        option SMS
        option Email
        option Other
    .form-group
      label(for='addInfo') Additional information
      textarea#addInfo.form-control(rows='3' placeholder='Any additional information from the consumer' name='addInfo')
    br
    .form-row
      button.btn.btn-primary.btn-lg.mx-auto(onclick='carSelectionValid(this.value)' type='submit') Submit lead
  script.
    // JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict';
    window.addEventListener('load', function () {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function (form) {
    form.addEventListener('submit', function (event) {
    if (form.checkValidity() === false ) {
    event.preventDefault();
    event.stopPropagation();
    } else if (form.checkValidity() === true){
    console.log("Form is valid: " + form.checkValidity())
    collectFormData(forms);
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();
  script.
    window.onload = function () {
    if (lpTag.agentSDK) {
    bindUser();
    }
    }
