extends layout

block content
  .w3-container
    if loggedIn
      hr
      h2(style="letter-spacing:0.010em") You are logged in, you can move to the #[a(href="/crm" ) Lead form]
      form(action="/crm" style="text-align:center")
        input.btn.btn-primary.btn-lg.mx-auto(type="submit" value="Lead Form")
    else
      hr
      h2(style="letter-spacing:0.010em") You are not logged in! Please #[a(href="/login") Log In] to continue.
      form(action="/login" style="text-align:center")
        input.btn.btn-primary.btn-lg.mx-auto(type="submit" value="Login")
      hr
      h2(style="letter-spacing:0.010em") You are not logged in! Please #[a(href="/login" target="_blank") Log In] to continue.
      button#submitButton.btn.btn-primary.btn-lg.mx-auto(onclick="openLoginWindow()") LoginTest
        script.

          async function openLoginWindow(){
            try{
            var newWindow = window.open(window.location.origin + "/login")
             newWindow.addEventListener('load', function () {

                 window.setTimeout(() => {
                  if (newWindow.document.getElementById("voiTitle").innerHTML){
                  newWindow.close();
               }
              }, 200);               
             })
             }catch(e){
               console.log(e);
             }
              location.reload();
              return false;
             };
