extends layout

block content
  .w3-container
    if loggedIn
      hr
      h2(style="letter-spacing:0.010em") You are logged in, you can move to the #[a(href="/crm" ) Lead form]
      form(action="/crm" style="text-align:center")
        input.btn.btn-primary.btn-lg.mx-auto(type="submit" value="Lead Form")
    else
      hr
      h2(style="letter-spacing:0.010em") You are not logged in! Please #[a(href="/login" target="_blank") Log In] to continue.
      button#submitButton.btn.btn-primary.btn-lg.mx-auto(onclick="openLoginWindow()" style="text-align:center") Login
        script.

            async function openLoginWindow() {
                try {
                    var newWindow = window.open(window.location.origin + "/login")
                    await newWindow.addEventListener('load', function() {
                        window.setTimeout(() => {
                            if (newWindow.document.getElementById("voiTitle").innerHTML) {
                                console.log("Verified voi title loaded to check loggedin " + newWindow.document.getElementById("voiTitle").innerHTML)
                                newWindow.close();
                                window.location.reload();
                            }
                        }, 200);
                    })
                } catch (e) {
                    console.log(e);
                }

                return false;
            };
