extends layout

block content
  .w3-container
    if loggedIn
      hr
      h2(style="letter-spacing:0.010em") You are logged in, you can move to the #[a(href="/crm" ) Lead form]
      form(action="/crm" style="text-align:center")
        input.btn.btn-primary.btn-lg.mx-auto(type="submit" value="Lead Form")
    else
      hr
      h2(style="letter-spacing:0.010em") You are not logged in! Please #[a(href="/login" target="_blank") Log In] to continue.
      span(style="text-align:center")
        button#submitButton.btn.btn-primary.btn-lg.mx-auto(onclick="openLoginWindow()") Login
          script.
            //Function is needed due to the LivePerson login page not allowing Iframes with a different domain to open it
            // Therefore we - open the login page in a new tab > wait for the window to alow > wait another 200ms > check a random DOM
            // element within the crm page to check if it shows up to verify it's all good > close the new tab > reload the original iframe
            // to get the logged in state(can probably be skipped) > move to the crm page (lead page)
            async function openLoginWindow() {
                try {
                    var newWindow = window.open(window.location.origin + "/login")
                    await newWindow.addEventListener('load', function() {
                        window.setTimeout(() => {
                            if (newWindow.document.getElementById("voiTitle").innerHTML) {
                                console.log("Verified voi title loaded to check loggedin " + newWindow.document.getElementById("voiTitle").innerHTML)
                                newWindow.close();
                                window.location.reload();
                                window.location.href = window.location.origin + "/crm";
                            }
                        }, 200);
                    })
                } catch (e) {
                    console.log(e);
                }

                return false;
            };
