extends layout

block content
  .w3-container
    if loggedIn
      hr
      h2(style="letter-spacing:0.010em") You are logged in, you move to the CRM page #[a(href="/crm") Log In]
      form(action="/crm")
        input.btn.btn-primary.btn-lg.mx-auto(type="submit", value="Login")
    else
      hr
      h2(style="letter-spacing:0.010em") You are not logged in! Please #[a(href="/login") Log In] to continue.
      form(action="/login")
        input.btn.btn-primary.btn-lg.mx-auto(type="submit", value="Login")
